### IDEs
# JetBrains
.idea
*.iws
# *.iml
# *.ipr

# VSCode testing
.vscode-test

# Fleet
.fleet

# macOS
.DS_Store

### Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

### Dependencies & Caches
node_modules/
jspm_packages/
web_modules/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
*.tsbuildinfo

### Build Outputs
# Nuxt/Nitro
.nuxt
.nuxt-*
dist
.output
.gen
.nitro
.data

# Next.js (in case)
.next
out

# Playwright
tests/e2e/results
playwright-report

# Parcel
.cache
.parcel-cache

### Coverage
coverage
*.lcov
.nyc_output

### Env Files
.env
.env.*
!.env.example

### Custom
/certs/
